.grid {
    display: grid;
    grid-template-columns: 1fr minmax(320px, 2fr) 1fr;
    grid-template-rows: 100vh;
}

.grid__leftBox {
    
    background: linear-gradient(90deg, var(--second-color), var(--third-color));
    border-right: 8px solid var(--grid-border-color);
    
}

.grid__rightBox {
    background: linear-gradient(270deg, var(--second-color), var(--third-color));
    border-left: 8px solid var(--grid-border-color);
}

