.grid {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 2fr) 1fr;
    grid-template-rows: 100vh;
}

.grid__leftBox {
    width: 100%;
    background: linear-gradient(var(--grid-gardient-color1, --grid-gardient-color2));
}

.grid__rightBox {
    background: linear-gradient(var(--grid-gardient-color1, --grid-gardient-color2));
}

