.grid {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr minmax(320px, 3fr) 1fr;
    
    height: 100%;
}

.grid__leftBox {
    
    background: linear-gradient(90deg, var(--second-color), var(--third-color));
    border-right: 8px solid var(--grid-border-color);
    
}

.grid__rightBox {
    background: linear-gradient(270deg, var(--second-color), var(--third-color));
    border-left: 8px solid var(--grid-border-color);
}

